[Unit]
Description=Telegram bot for Wflow-app
After=syslog.target network.target

[Service]
SuccessExitStatus=143



User=root
Group=root


Type=simple

ExecStart=java -jar /usr/app/wflow/wflow-bot.jar

[Install]
WantedBy=multi-user.target